h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 150px;
    padding-left: 20px;
}

.container {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.CadastrarAfericoes {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
    font-size: 18px;
    margin: 0;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.label-esquerda {
    text-align: left;
    padding-left: 20px;
    display: block;
}

.input-afericao {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
    height: 30px;
    border: 1px solid #cccccc;
}

.ladoAlado {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

label {
    font-size: 16px;
}

.AfericoesValor {
    margin: 0 10px 0 0;
    width: 300px;
}

.input-text {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
    margin: 3px;
    border: 1px solid #cccccc;
}

.botoesCancelarCadastrar {
    margin-top: 20px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 20px;
}

.botaoCancelar {
    background-color: #bae5f3;
    padding: 2px 2px;
    color: #1f9bc1;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 131px;
    height: 33px;
    margin: 20px 30px 0 0;
}

.botaoCadastrar {
    background-color: #1f9bc1;
    padding: 5px 2px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 131px;
    height: 33px;
    margin: 20px 0;
}

#cadatroafericoes{
    transition: all 0.5s ease;
}

input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 32px;
}

select {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 32px;
    width: 500px;
}


.custom-select {
    height: 50px;
    position: sticky;
    display: inline-block;
}

.selected-option {
    padding: 6px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 370px;
    height: 29px;
    background: #1F9BC1;
    border-radius: 3px 3px 0px 0px;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.options {
    position: absolute;
    display: none;
    width: 370;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 3px 3px;
    z-index: 200;
}

.option {

    padding: 6px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
    display: block;
    width: 370px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
}

.option.selected {
    background-color: #1F9BC1;
    color: white;
}

.custom-select.open .options {
    display: block;
}

.ball {
    width: 0px;
    height: 0px;
    background-color: #4AB3D3;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }