<div class="ball" id="ball"></div>
<div id="cadatroafericoes">
<div class="CadastrarAfericoes d-flex flex-column align-items-center justify-content-center" >
    <h2 >Cadastro de Aferições</h2>
    <div class="container">
      <div class="AfericoesSinal">
        <label for="SinalAfericao" class="label-esquerda">Sinal de Aferição</label>
        <div class="custom-select" (click)="toggleOptions()" [ngClass]="{'open': showOptions}"  id="optionselected">
          <div class="selected-option">
            {{ selectedOption }}
            <img *ngIf="isSelected" src="../../assets/caret-up-fill.png" alt="Ícone" class="icon">
            <img *ngIf="!isSelected" src="../../assets/caret-down-fill.png" alt="Ícone" class="icon">
          </div>
          <div class="options">
            <div class="option" *ngFor="let option of options; let i = index" (click)="selectOption(option, i)"
              [class.selected]="isSelectedOption(i)">
              {{ option }}
            </div>
          </div>
        </div>
      </div>
  
      <div class="ladoAlado">
        <div class="AfericoesValor">
          <label for="Valor">Valor</label>
          <input type="text" class="form-control" id="valor" [(ngModel)]="valor" />
        </div>
  
        <div class="AfericoesUnid">
          <label for="Unid">Unid</label>
          <input type="text" class="form-control" id="unid" [(ngModel)]="unid" placeholder=" " />
        </div>
      </div>
    </div>
  
    <div class="botoesCancelarCadastrar">
      <button class="botaoCancelar" (click)="cancelar()">Cancelar</button>
      <button class="botaoCadastrar" (click)="cadastrar()">Cadastrar</button>
    </div>
  </div>
</div>