<!-- <SECTION> DE LOADING-->

  <section class="fullscreen-section d-flex align-items-center justify-content-center" id="Section">
    <div class="container text-center">
      <div class="d-flex flex-column align-items-center">
        <img src="../../assets/heart-pulse 1.png" alt="Imagem" style="margin: 20px;" class="img-fluid mt-4">
        <p>O que você quer fazer</p>
        <p>fazer?</p>
        <button type="submit" class="btn btn-primary mt-3" style="width: 159px;
        height: 33px; background-color: #1F9BC1; border: none;" (click)="cadastrar()" >Cadastrar</button>
        <button type="submit" class="btn btn-primary mt-4" style=" background-color: #1F9BC1; border: none; width: 159px;
        height: 33px;" (click)="check()">Ver aferições</button>
      </div>
    </div>
  </section>
  
  
