
<!-- CADASTRO -->

<div class="d-flex align-items-center justify-content-center vh-100">
  <div *ngIf="showRegistration">
    <h4 class="text-center">Olá,</h4>
    <h4 class="text-center">vamos criar sua conta</h4>
    <form>
      <div class="form-group py-2" style="width: 20em;">
        <label style="font-size: 14px;font-weight: 600; padding: 2px;">Nome completo*</label>
        <input type="text" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" style = "border: #CCCCCC 1px solid; border-radius: 2px;" class="form-control" id="nome"
           required>
      </div>

      <div class="form-group py-2">
        <label style="font-size: 14px;font-weight: 600; padding: 2px;">Data de nascimento*</label>
        <input type="date" [(ngModel)]="data" [ngModelOptions]="{standalone: true}" style = "border: #CCCCCC 1px solid; border-radius: 2px;" class="form-control" id="data"
          required>
      </div>

      <div class="form-group py-2">
        <label style="font-size: 14px;font-weight: 600; padding: 2px;">E-mail*</label>
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" style = "border: #CCCCCC 1px solid; border-radius: 2px;" class="form-control" id="email"
         required>
      </div>

      <div class="form-group py-2">
        <label style="font-size: 14px;font-weight: 600; padding: 2px;">Senha*</label>
        <input type="password" [(ngModel)]="senha" [ngModelOptions]="{standalone: true}"  style = "border: #CCCCCC 1px solid; border-radius: 2px;"class="form-control" id="senha"
         required>
      </div>

      <div class="form-group py-2">
        <label style="font-size: 14px;font-weight: 600; padding: 2px;">Confirme sua senha*</label>
        <input type="password" [(ngModel)]="confirmSenha" [ngModelOptions]="{standalone: true}" style = "border: #CCCCCC 1px solid; border-radius: 2px;" class="form-control"
          id="confirmSenha" required>
        <span *ngIf="senha !== confirmSenha" style="color: red;">X Senhas não batem</span>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4" (click)="cadastrar()" style="border: none;color: white; padding: 6px 12px; background-color: #1F9BC1;">Avançar</button>
      </div>
    </form>
  </div>
</div>

<!-- CONFIRMAR CÓDIGO -->

<div *ngIf="showVerification">
  <form>
    <div class="form-group">
      <label>Digite o código de 6 dígitos</label>
      <input type="text" [(ngModel)]="codigoVerificacao" [ngModelOptions]="{standalone: true}" class="form-control"
        id="codigoVerificacao" placeholder="Digite o código">
    </div>

    <button type="submit" class="btn btn-primary mt-4" (click)="verificarCodigo()">Enviar</button>
    <button class="btn btn-secondary mt-4" (click)="voltar()">Voltar</button>
  </form>
</div>

<div *ngIf="showSuccess">
  <h2>Usuário verificado com sucesso</h2><br>
  <img src="caminho_da_imagem">
</div>

<div *ngIf="showUpload">
  <h3>Upload de imagem</h3>
  <h6>Selecione uma foto para o seu perfil</h6>
  <img src="../../assets/emptyUser.png"><br>
  <button type="button" class="btn btn-primary mt-4">Carregar Foto</button>
  <button type="button" class="btn btn-success mt-4" (click)="finalizarCadastro()">Cadastrar</button>
</div>

<div *ngIf="showSuccessMessage">
  <h2>Cadastro realizado com sucesso</h2>
  <button type="button" class="btn btn-primary mt-4" routerLink="/signin">Ir para o login</button>
</div>