<!-- <SECTION> DE LOADING-->

<section class="fullscreen-section d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <img src="../../assets/loadingLogo.png" alt="Imagem" class="img-fluid">
        <p class="mt-3">Saúde integrada a um toque.</p>
    </div>
</section>

<section id="background">

    <!-- HOME -->

    <!-- HEADER -->

    <button (click)="Deslogar()">sair</button>

    <!-- PÁGINA PRINCIPAL -->

    <div class="d-flex align-items-center justify-content-center vh-100" id="home">

        <div class="d-flex align-items-start" style="position: absolute; top: 50px; left: 10px;">
            <img src="../../assets/emptyUser.png" class="mr-3" width="32px" height="32px" style="border: 1px solid #57B8D6; border-radius: 100%;">
            <div class="p-2">
                <p style="font-size: 14px;">Olá, Gustavo.</p>
            </div>
        </div>

    </div>    

    <!-- FIM -->

</section>