<section class="fullscreen-section d-flex align-items-center justify-content-center" id="main">
    <div class="container text-center"id= "second">
      <img src="../../assets/heart-pulse-fill.png" alt="Imagem" class="img-fluid" style="margin: 20px 0 20px 0;">
      <p class="mt-3">Aferição cadastrada</p>
      <p class="mt-3">com sucesso!</p>
      <button type="submit" class="btn btn-primary mt-3" style="width: 159px;
      height: 33px; background-color: #fff; border: none; color: #4AB3D3;" (click)="cadastrar()">Cadastrar nova</button><br>
        <button type="submit" class="btn btn-primary mt-3" style="width: 159px;
        height: 33px; background-color: #fff; border: none; color: #4AB3D3;" (click)="ver()">Ver aferições</button><br><br>
        <a style="color: white;"(click)="main()">Página principal</a>
    </div>
    
  </section>